/Task1_ImportModulePackage/.idea/
/Task1_ImportModulePackage/application/__pycache__/
/Task1_ImportModulePackage/application/db/__pycache__/
/Task2_Regexp/phonebook.csv
/Task2_Regexp/.idea/
/Task3_WebScraping/.idea/
/Task3_WebScraping/__pycache__/
/Task4_Iterators_Generators/.idea/
/Task5_Decorators/.idea/
/Task5_Decorators/__pycache__/
/Task5_Decorators/log.txt
/Task7_Interview/__pycache__/
/Task7_Interview/.idea/
