/Task1_ImportModulePackage/.idea/
/Task1_ImportModulePackage/application/__pycache__/
/Task1_ImportModulePackage/application/db/__pycache__/
/Task2_Regexp/phonebook.csv
/Task2_Regexp/.idea/
/Task3_WebScraping/.idea/
